name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 1 * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Renovate
        uses: renovatebot/github-action@v43.0.1
        env:
          RENOVATE_AUTODISCOVER: 'true'
          RENOVATE_AUTODISCOVER_FILTER: 'Ygormorais/helpdesk-saas'
          RENOVATE_PLATFORM: 'github'
          RENOVATE_ENDPOINT: 'https://api.github.com/'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          configurationFile: renovate.json
